.user-input {
  font-family: 'Gochi Hand', cursive;
}

.user-input h1{
    color:white;
}

.user-input > * {
    font-size: x-large;
    line-height: 3vh;
    
}

.split {
    width: 100%;
    margin: 20px;
}