.slider {
    width: 40%;
    min-height: 415px;
    margin: 5px auto;
    position: relative;
    border: 3px solid white;
    border-radius: 25px;
    padding: 20px;
    background-color: black;
  
}

.slide {
    width: 100%;
    opacity: 0;
    transition-duration: 1s;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.slide.active {
    opacity: 1;
    transition-duration: 0.1s;
}

.esq {
    position: absolute;
    left: 12.5vw;
    top: 50%;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
}

.drt {
    position: absolute;
    right: 12.5vw;
    top: 50%;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
}

.stats .card-stats {
    text-align: left;
    padding-left: 20px;
    font-size: medium;
}

.seta_esq,
.seta_drt  {
    width: 35px;
}
