.footer {
    font-family: 'Gochi Hand', cursive;
}

.footer {
    width: 50vw;
    padding: 5px;
    background-color: black;
    border-radius: 25px;
    text-align: center;
    color: white;
}

.footer a {
    color: rgb(118, 133, 194);
}
/* TODO funny: a cor da divisão ser da cor da carta random */
.rodape h1 {
    color: white;
}