@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

body{
  background: #323c41;
}

.results {
  display:flex;
  flex-wrap: wrap;
  max-width: 90vw;
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.info-results {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}