.footer {
    font-family: 'Gochi Hand', cursive;
    color: white;
}

.footer {
    position:relative;
    bottom:0;
    width: 65vw;
    margin-top: 20px;
    padding: 5px;
    background-color: black;
    border-radius: 25px;
    text-align: center;
    color: white;
}

.footer a {
    color: rgb(118, 133, 194);
}

.footer h3 {
    padding: 10px;
}